@using Shipping_system.Models
@model CustomerCallModel
@{
    ViewBag.Title = "My calls";
    List<SelectListItem> status = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text = "In process",
            Value = "in process"
        },
        new SelectListItem()
        {
            Text = "Open",
            Value = "open"
        },
        new SelectListItem()
        {
            Text = "Cancel",
            Value = "cancel"
        }
    };
}

<br />
<br />
<h2>
    All calls
</h2>

<div>
    <table id="grid" width="1000"></table>
    <div id="pager"></div>
</div>
<br />
<div>

    <form id="saveCallForm" class="form-group">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.TextBoxFor(m => m.Id, new { style = "display: none;" })
        <label>Address From</label>
        @Html.TextBoxFor(m => m.DeliveryFrom, new { @class = "form-control" })
        <label>Address To</label>
        @Html.TextBoxFor(m => m.DeliveryTo, new { @class = "form-control" })
        <label>Delivery Date</label>
        @Html.TextBoxFor(m => m.DateDelivery, new { @class = "form-control" })
        <label>Delivery Time From</label>
        @Html.TextBoxFor(m => m.DeliveryTimeFrom, new { @class = "form-control" })
        <label>Delivery Time To</label>
        @Html.TextBoxFor(m => m.DeliveryTimeTo, new { @class = "form-control" })
    </form>

    <button class="btn btn-primary" id="saveCall">Save call</button>
</div>


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/CustomerCalls.js"></script>
<script>
    $(document).ready(function () {
        $("#DateDelivery").datepicker;
    });
</script>